.tmp {

  background-color: #101010;
  align-items: center;
  display: flex;
  justify-content: left;
  padding: 20px 52px 20px 52px;
  border-bottom: solid #1B1B1B 1px;
  gap: 25px;

}

.input {

  color: #9A9A9A;
  font-family: "WorkSans";
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;

}

.inputstyle {

  background-color: #1B1B1B;
  padding: 11px;
  border: solid #292929 1px;
  border-radius: 5px;
  width: 125px;
  font-family: "WorkSans";
  font-size: 11px;
  color: #FFFFFF;

}

.inputstyle2 {

  background-color: #1B1B1B;
  padding: 11px;
  border: solid #292929 1px;
  border-radius: 5px;
  width: 125px;
  display: flex;

}

.button {

  background-color: #7AA395;
  color: #FFFFFF;
  font-family: "WorkSans";
  font-size: 11px;
  margin-top: 18px;
  border: none;
  border-radius: 5px;
  padding: 12px 14px;

}

::placeholder {

  color: #313131;

}

* {

  background-color: #101010;
  margin: 0;
  padding: 0;

}

@media screen and (max-device-width: 800px) {

  .tmp {

    background-color: #101010;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 52px 20px 52px;
    border-bottom: solid #1B1B1B 1px;
    gap: 25px;
    flex-direction: column;
    
  }

  .button {

    background-color: #7AA395;
    color: #FFFFFF;
    font-family: "WorkSans";
    font-size: 11px;
    margin-top: 18px;
    border: none;
    border-radius: 5px;
    padding: 12px 70px;
  
  }

}
